# TG_TOKEN=tg_token
# FOLDER_ID=ur_folder_id
# GPT_TOKEN=ur_iam_token # Not smartest decision to move it here from me :P
# ADMINS_ID=["111111111",] # tg_ids
# TOKENIZER_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/tokenize # Standard ya.cloud link
# GPT_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
# GPT_MODEL=GPT_MODEL

MODEL_TEMPERATURE = 0.6
MAX_MODEL_TOKENS = 300

TG_TOKEN = '6692081952:AAFi4pdTMmXpq-G1pCCdUwbu5Rn8il-Eeh4'
FOLDER_ID = 'b1ggs4ib73n9ij11a47v'
GPT_TOKEN = 't1.9euelZqOzsqQkYzGmZ2ZxpzIxpOTyu3rnpWaipLNno6az5yYnsedzIubmZnl9PcEZXdN-e9NBQyB3fT3RBN1TfnvTQUMgc3n9euelZqZjpXIj5OQlZ7MnpuWyM6anu_8xeuelZqZjpXIj5OQlZ7MnpuWyM6anr3rnpWajcrMi5yWkZbKmJTKzImbzMa13oac0ZyQko-Ki5rRi5nSnJCSj4qLmtKSmouem56LntKMng.4mdpEp_49sui0SQyFLZMBIj7rdKBAmFU1duRAJKV0gc2pEgc9a2mObtfAj6H_UVlp_4kdfzBYiKCP9rCmoXyAA'
ADMINS_ID=["111111111",] # tg_ids
TOKENIZER_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/tokenize # Standard ya.cloud link
GPT_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
GPT_MODEL = 'yandexgpt-lite'

MAX_USERS = 3
MAX_SESSIONS = 10
MAX_USER_TOKENS = 150
MAX_USER_TTS_SYMBOLS = 150
MAX_TTS_SYMBOLS = 30
MAX_USER_STT_BLOCKS = 12